<nav>
  <%= link_to 'HOME', root_path %>
  <span class="right">
    <% if current_user %>
      <%= current_user.email%>
      <%= link_to 'logOut', logout_path, method: :delete %>
    <% else %>
      <a href="#openSignupModal">sign up</a>
      <a href="#openLoginModal">log in</a>
    <% end %>
  </span>
</nav>

<<<<<<< HEAD
    <span class="right">

      <% if current_user %>

        <%= current_user.email%>
        <%= link_to 'logOut', logout_path, method: :delete %>

      <% else %>

        <%= link_to 'sign up', new_user_path %>

        <!--  <%= link_to 'SignIn ', signup_path, {class: 'signUp'} %> -->
        <%= link_to 'logIn', login_path, {class: 'logIn'} %>
      <% end %>
=======
<div id="openSignupModal" class="modalDialog">
  <div class="form_center">
    <a href="#close" title="Close" class="close">x</a>
    <h2>New Account</h2>
    <%= render 'users/form' %>
    <% if @user.errors.any? %>
    <%= render 'users/errors' %>
    <% end %>
  </div>
</div>
>>>>>>> bb93fa4db6ca546dc50ccfb7aef48e03b4d9b32d

<div id="openLoginModal" class="modalDialog">
  <div class="form_center">
    <a href="#close" title="Close" class="close">x</a>
    <h2>login</h2>
    <%= form_tag sessions_path do %>
    <p class="text_field"><%= text_field_tag :email, nil, :placeholder => 'email', :class => "text_field"  %></p>
    <p class="text_field"><%= password_field_tag :password, nil, :placeholder => 'password', :class => "text_field" %></p>
    <p class="button"><%= submit_tag :login %></p>
    <% end %>
  </div>
</div>
