<nav>
  <%= link_to 'home', root_path %>
  <span class="right">
    <a href="#openSignupModal">sign up</a>
    <a href="#openLoginModal">login</a>
  </span>
</nav>

<div id="openSignupModal" class="modalDialog">
  <div class="form_center">
    <a href="#close" title="Close" class="close">x</a>
    <h2>New Account</h2>
    <%= render 'users/form' %>
    <% if @user.errors.any? %>
    <%= render 'users/errors' %>
    <% end %>
  </div>
</div>

<div id="openLoginModal" class="modalDialog">
  <div class="form_center">
    <a href="#close" title="Close" class="close">x</a>
    <h2>login</h2>
    <%= form_tag sessions_path do %>
    <%= text_field_tag :email %>
    <%= password_field_tag :password %>
    <%= submit_tag :login %>
    <% end %>
  </div>
</div>
