<nav>
  <%= link_to 'HOME', root_path %>
  <span class="right">
    <a href="#openSignupModal">SIGN UP</a>
    <a href="#openLoginModal">LOG IN</a>
  </span>
</nav>

<div id="openSignupModal" class="modalDialog">
  <div class="form_center">
    <a href="#close" title="Close" class="close">x</a>
    <h2>NEW ACCOUNT</h2>
    <%= render 'users/form' %>
    <% if @user.errors.any? %>
    <%= render 'users/errors' %>
    <% end %>
  </div>
</div>

<div id="openLoginModal" class="modalDialog">
  <div class="form_center">
    <a href="#close" title="Close" class="close">x</a>
    <h2>LOG IN</h2>
    <%= form_tag sessions_path do %>
    <%= text_field_tag :email %>
    <%= password_field_tag :password %>
    <p><%= submit_tag :login %></p>
    <% end %>
  </div>
</div>
