<img src=<%= @song[:image_url] %> alt="">
<audio controls src=<%= @song[:preview_link] %>></audio>
<h2><%= @song[:title] %></h2>
<p><%= @song[:artist] %></p>
<p>Energy: <%= @song[:energy] %></p>
<p>Liveness: <%= @song[:liveness] %></p>
<p>Tempo: <%= @song[:tempo] %></p>
<p>Speechiness: <%= @song[:speechiness] %></p>
<p>Acousticness: <%= @song[:acousticness] %></p>
<p>Time Signature: <%= @song[:time_signature] %></p>
<p>Duration: <%= @song[:duration] %></p>
<p>Loudness: <%= @song[:loudness] %></p>
<p>Valence: <%= @song[:valence] %></p>
<p>Danceability: <%= @song[:danceability] %></p>
