<h2>playlists#index</h2>
<p>this will ultimately be the primary page where users interact with playlists and songs</p>

<% @playlists.all %>

<ul>
  <% @playlists.each do |playlist| %>
    <li>
      <a href="/users/<%= current_user.id %>/playlists/<%= playlist.id %>"><%= playlist.title %></a>
      <p>mood: <%= playlist.mood %></p>
      <form action="/users/<%= current_user.id %>/playlists/<%= playlist.id %>" method='post'>
        <%= token_tag %>
        <input type="hidden" name='_method' value='delete'>
        <button type='submit'>delete playlist</button>
      </form>
    </li>
  <% end %>
</ul>


