<h2>playlists#index</h2>
<p>this will ultimately be the primary page where users interact with playlists and songs</p>

<h2>Hi, <%= @user.email %></h2>

<h4>Number of Playlists: <%= @user.playlists.count%></h4>
<%= link_to 'Create a new Playlist', new_user_playlist_path(@user) %>
<ul>
  <% @playlists.each do |playlist| %>
  <div class="playlist-index <%= playlist.id %>" data-user-id="<%= current_user.id %>" data-playlist-id="<%= playlist.id %>">
  <li>
    <a href="/users/<%= current_user.id %>/playlists/<%= playlist.id %>"><%= playlist.title %></a>
    <p>mood: <%= playlist.mood %></p>
    <div class="playlist-songs-index"></div>
    <form action="/users/<%= current_user.id %>/playlists/<%= playlist.id %>" method='post'>
      <%= token_tag %>
      <input type="hidden" name='_method' value='delete'>
      <button type='submit'>delete playlist</button>
    </form>
  </li>
  </div>
  <% end %>
</ul>

<form action="/search" method="get" class="song-search">
  <input type="text" name="name" placeholder="Song" class="song-text-field">
  <input type="submit" value="Search" class="song-search-submit"></input>
</form>

<div class="search-results"></div>

<script>
  
  
  var songCollection = new SongCollection();


  function setDroppableHandlers() {
    $('.playlist-index').droppable({
      drop: function(e, dropped) {
        var index = dropped.draggable.data('index');
        shrinkArtwork(dropped.draggable);
        addSongToDatabase(index);
      }
    })
  }

  function shrinkArtwork(el) {
    el.toggle('scale');
  }

  function addSongToDatabase(index) {
    var resultsArray = songCollection.searchResults;
    songCollection.addToDB(resultsArray[index]);
  }

  function renderMiniArtworkWithinPlaylist() {
    var songModel = new SongModel();
    var songView = new SongView(songModel);
    songView.render().el.hide().appendTo($('.playlist-songs-index')).fadeIn(1000)
  }


  $(document).on('ready page:change', function() {

  $('.song-search').submit(function(e) {
    $('.search-results').html('');
    e.preventDefault();
    var query = $('.song-text-field').val();
    songCollection.search(query);
  })

  setDroppableHandlers();
  // songCollection.fetchToPlaylistIndex();
  // renderMiniArtworkWithinPlaylist();
  })

</script>