<h2>Hi, <%= @user.email %>. Welcome to Valence</h2>

<h4>You currently have <%= @user.playlists.count%> playlists. <a class="open" href="">Create Another?</a></h4>

<div class="edit-form" style="display: none">

  <form action="/users/<%= current_user.id %>/playlists/" method='post'>
    <%= token_tag %>
    <input class='field' type="text" name='playlist[title]'>
    <input class='field' type="text" name='playlist[mood]'>
    <p>
      <button type="submit" class="go-away">Create Playlist</button>
      <button type="reset">Reset</button>
      <button type="cancel" class="go-away">Cancel</button>
    </p>
  </form>
</div>

<script>
$( ".open" ).click(function(e) {
  e.preventDefault();
  $( ".edit-form" ).show( "slow" );
});
$( ".go-away" ).click(function() {
  $( ".edit-form" ).hide( "slow" );
});
</script>

<form action="/search" method="get" class="song-search">
  <label for="">Song Search: </label>
  <input type="text" name="name" placeholder="Song" class="song-text-field">
  <input type="submit" value="Search" class="song-search-submit"></input>
</form>

<ul>
  <% @playlists.each do |playlist| %>
  <div class="playlist-index <%= playlist.id %>" data-user-id="<%= current_user.id %>" data-playlist-id="<%= playlist.id %>">
    <li>
      <a href="/users/<%= current_user.id %>/playlists/<%= playlist.id %>"><%= playlist.title %></a>
      <p>Mood: <%= playlist.mood %></p>

      <div class="playlist-songs-index"></div>
      <form action="/users/<%= current_user.id %>/playlists/<%= playlist.id %>" method='post'>
        <%= token_tag %>
        <input type="hidden" name='_method' value='delete'>
        <button type='submit'><i class="fa fa-trash-o fa-2x"></i></button>
      </form>
    </li>
  </div>
  <% end %>
</ul>

<div class="search-results">
  <div class="spinner">
    <img src="<%= asset_path 'drums.gif' %>" alt="" id="loading-image">
  </div>
</div>


<!-- <ul class="sortable">
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>This is a test 1</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>This is a test 2</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>This is a test 3</li>
</ul> -->

<script>


var songCollection = new SongCollection();


function setDroppableHandlers() {
  $('.playlist-index').droppable({
    drop: function(e, dropped) {
      var index = dropped.draggable.data('index');
      shrinkArtwork(dropped.draggable);
      var playlistID = parseInt(e.target.attributes[2].value)
      addSongToDatabase(playlistID, index);
    }
  })
}

function shrinkArtwork(el) {
  el.toggle('scale');
}

function addSongToDatabase(playlistID, index) {
  var resultsArray = songCollection.searchResults;
  songCollection.addToDB(playlistID, resultsArray[index]);
}

$(document).on('ready page:change', function() {
 $("#spinner").bind("ajaxSend", function() {
  $(this).show();
}).bind("ajaxStop", function() {
  $(this).hide();
}).bind("ajaxError", function() {
  $(this).hide();
});


$('.song-search').submit(function(e) {
  $('.search-results').html('');
  e.preventDefault();
  var query = $('.song-text-field').val();
  songCollection.search(query);
})

setDroppableHandlers();
})

</script>




