<h2>playlists#index</h2>
<p>this will ultimately be the primary page where users interact with playlists and songs</p>

<% @playlists.all %>

<ul>
  <% @playlists.each do |playlist| %>
    <li>
      <a href="/users/:user_id/playlists/<%= playlist.id %>"><%= playlist.title %></a>
      <p>mood: <%= playlist.mood %></p>
      <form action="/users/:user_id/playlists/<%= playlist.id %>" method='post'>
        <%= token_tag %>
        <input type="hidden" name='_method' value='delete'>
        <button type='submit'>delete playlist</button>
      </form>
    </li>
  <% end %>
</ul>

<div>
  <% @songs.each do |song| %>
  <div class="song-result">
    <a href="/song/<%= song[:song_id] %>">
      <img src="<%= song[:artwork_url] %>"></a>
      <p><%= song[:artist] %></p>
  </div>
  <% end %>
</div>
