<h2><div class="highlight">Your Playlists</div></h2>

<h3 class="heading">Visualizer</h3>
<ul class="menu">
   <li class='blank'><strong>Select A Visualizer From Below</strong></li>
   <li class='menu-items' data-callback='coloredBars'>Colored Bars</li>
   <li class='menu-items'  data-callback='pulsingCircles'>Pulsing Circles</li>
   <li class='menu-items playlist-map'>Playlist Map</li>
   <li class='menu-items radicalness'>Radicalness</li>
</ul>


<div class="svg-container">
   <svg class="canvas"></svg>
</div>

<div class='update-playlist-container'>

   <button class="open">Edit Playlist Info</button>
   <div class="edit-form" style="display: none">
      <form action="/users/<%= current_user.id %>/playlists/<%= @playlist.id %>" method='post'>
        <input type='hidden' name='_method' value='put'>
        <%= token_tag %>
        <p>title<input class='field' type="text" name='playlist[title]' value='<%= @playlist.title %>'></input></p>
        <p>mood<input class='field' type="text" name='playlist[mood]' value='<%= @playlist.mood %>'></input></p>
        <p>
          <button type="submit" class="go-away">Save Changes</button>
          <button type="reset">Reset</button>
          <button type="cancel" value="cancel" class="go-away">Cancel</button>
        </p>
      </form>
   </div>
</div>

<div class="playlist">
   <h3 class='playlist-title' data-user-id="<%= current_user.id %>" data-playlist-id="<%= @playlist.id %>">
      <%= @playlist.title %>
   <h3>
   <h4>mood: <%= @playlist.mood %></h4>
   <div class="playlist-songs" id="sortable"></div>
</div>

<script>

   $(".open").click(function() {
      $(".edit-form").show("slow");
   });

   $(".go-away").click(function() {
      $(".edit-form").hide("slow");
   });


   $(function() {
      $('.menu-items').on("click", function(){

        if ($(this).hasClass('down')){
          $(this).removeClass('down')
          $('g').remove();
          return 'good job';
         }

        $(this).siblings().removeClass('down');
        $(this).toggleClass('down');
        var callback = window[$(this).data('callback')];
        visualizePlaylist(playlistSongsAttributes, callback);
      });

      console.log('loaded')


   });



   var playlistCollection = new PlaylistCollection();

   function getPlaylistSongs(){
      playlistCollection.fetch(displaySongsOnShow);
   }

   $(document).on('page:change', function() {
      getPlaylistSongs();
      $(document).unbind();

   });


 </script>

