<!DOCTYPE html>
<html>
<head>
  <title>Valence</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= yield %>
  
    <p class="signUp">Sign Up</p>

    <% if current_user %>
        <p>Logged in as <%= current_user.email%></p>
        <%= link_to 'LogOut', logout_path, method: :delete %>
    <% else %>    
       <!--  <%= link_to 'SignUp', signup_path, {class: 'signUp'} %> -->
        <%= link_to 'LogIn', login_path, {class: 'logIn'} %>
    <% end %>

  </div>

</body>
</html> 
